<section class="page-wrapper right-sidebar-form category-form">
    <mat-card [attr.color]="'primary'">
        <mat-card-header>
            <mat-card-title class="category-form-title">
                <ng-content></ng-content>
            </mat-card-title>
            <mat-card-subtitle [attr.color]="'accent'">
                Fill in all required fields and click Submit button
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <form [formGroup]="categoryForm"
                  (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline"
                                floatLabel="always">
                    <mat-label required>Name</mat-label>
                    <input matInput
                           formControlName="name"
                           placeholder="Fill in category name...">
                    <mat-error>
                        Please fill in an category header
                    </mat-error>
                </mat-form-field>
                <button class="submit-btn"
                        mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="!categoryForm.valid">
                    Submit
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</section>
