<section class="page-wrapper"
         *ngIf="(data$ | async) as data">
    <mat-card class="categories"
              [attr.color]="'primary'">
        <mat-card-header>
            <mat-card-title>
                <h1>
                    Categories
                </h1>
                <mat-icon mat-list-icon
                          (click)="isFilterSectionOpen = !isFilterSectionOpen"
                          color="accent">filter</mat-icon>
            </mat-card-title>
            <mat-card-subtitle [ngClass]="[isFilterSectionOpen ? 'shown' : 'hidden']">
                <mat-form-field appearance="outline"
                                floatLabel="always">
                    <mat-label>Filter</mat-label>
                    <input matInput
                           (keyup)="filterEmit($event)"
                           placeholder="Filter by name...">
                    <mat-hint>Hint: you can use the <a target="_blank"
                           href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene search syntax</a>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline"
                                floatLabel="always">
                    <mat-label>Sort by updated date</mat-label>
                    <mat-select matInput
                                [value]="data.sortName"
                                (selectionChange)="sortCategories($event.value)">
                        <mat-option *ngFor="let dir of sortDirections"
                                    [value]="dir.value">{{dir.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider inset
                     *ngIf="!data.loading"></mat-divider>
        <div *ngIf="data.loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <mat-card-content>
            <ng-container *ngIf="data.errors">
                <div *ngFor="let error of data.errors">
                    {{error | json}}
                </div>
            </ng-container>
            <ng-container *ngIf="!data.loading">
                <div *ngFor="let category of data.categories"
                     class="category-wrapper">
                    <div class="category-title">
                        <h3>{{category.name}}</h3>
                        <div class="dates">
                            <div class="date-updated">
                                Updated: {{ category.updatedAt | date: 'hh:mm, yyyy MMM dd'}}
                            </div>
                            <div class="date-created">
                                Created: {{ category.createdAt | date: 'hh:mm, yyyy MMM dd'}}
                            </div>
                        </div>
                    </div>
                    <div class="category-actions">
                        <button matButton
                                mat-icon-button>
                            <mat-icon (click)="editCategory({$event, category})"
                                      aria-label="Side nav toggle icon"
                                      color="accent">
                                edit
                            </mat-icon>
                        </button>
                        <button matButton
                                mat-icon-button>
                            <mat-icon (click)="deleteCategory({$event, category})"
                                      aria-label="Side nav toggle icon"
                                      color="warn">
                                delete
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</section>
