@use "@angular/material" as mat;
@use "palettes";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$indigo-primary: mat.define-palette(mat.$indigo-palette);
$black-primary: mat.define-palette(palettes.$black-palette);
$white-primary: mat.define-palette(palettes.$white-palette);
$blue-grey-primary: mat.define-palette(mat.$blue-grey-palette);
$teal-accent: mat.define-palette(mat.$teal-palette);
// stylelint-disable
$amber-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
// stylelint-enable
$red-warn: mat.define-palette(mat.$red-palette);
$orange-warn: mat.define-palette(mat.$deep-orange-palette);
