@use "@angular/material" as mat;

@mixin change-colors($palette) {
  background: mat.get-color-from-palette($palette);
  color: mat.get-color-from-palette($palette, default-contrast);
}

@mixin change-contrast-color($palette) {
  color: mat.get-color-from-palette($palette, default-contrast);
}

@mixin change-color($palette, $hue: 500) {
  color: mat.get-color-from-palette($palette, $hue);
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}
