// Widths
$tablet-width: 768px;
$desktop-width: 1024px;

// Fonts
$header-font-family: "Alegreya, serif";
$h1-font-size: 2.5rem;
$h1-tablet-font-size: 2rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$body-font-size: 16px;

// Sizing
$header-height: 75px;
$header-tablet-margin-bottom: 30px;
$header-margin-bottom: 50px;
$card-padding: 36px;
