@use "sass:map";
@use "@angular/material" as mat;
@use "typography" as tp;
@use "palettes";
@use "./definedPalettes" as dp;
@use "./customComponentThemes/toolbar.component.theme.scss" as tb;
@use "./customComponentThemes/sidenav.component.theme.scss" as nav;
@use "./customComponentThemes/card.component.theme.scss" as card;
@use "./customComponentThemes/snackbar.component.theme.scss" as snack;
@use "./customComponentThemes/slide-toggle.component.theme.scss" as slide-toggle;
@use "./mixins";

// Main theme
$blue-grey-amber-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: dp.$blue-grey-primary,
      accent: dp.$amber-accent,
      warn: dp.$orange-warn
    )
  )
);

.dark-theme {
  .mat-card {
    .mat-card-title {
      @include mixins.change-color(dp.$indigo-primary, 100);
    }

    .mat-card-subtitle {
      @include mixins.change-color(dp.$teal-accent, 100);
    }

    .mat-button.mat-warn {
      @include mixins.change-color(dp.$red-warn, 200);
    }
  }

  @include mat.core-color($blue-grey-amber-dark-theme);
  @include mat.toolbar-color($blue-grey-amber-dark-theme);
  @include tb.toolbar-component-theme($blue-grey-amber-dark-theme);
  @include mat.sidenav-color($blue-grey-amber-dark-theme);
  @include nav.sidenav-component-theme($blue-grey-amber-dark-theme);
  @include mat.card-color($blue-grey-amber-dark-theme);
  @include card.card-component-theme($blue-grey-amber-dark-theme);
  @include mat.button-color($blue-grey-amber-dark-theme);
  @include mat.icon-color($blue-grey-amber-dark-theme);
  @include mat.list-color($blue-grey-amber-dark-theme);
  @include mat.list-color($blue-grey-amber-dark-theme);
  @include mat.input-color($blue-grey-amber-dark-theme);
  @include mat.form-field-color($blue-grey-amber-dark-theme);
  @include mat.snack-bar-color($blue-grey-amber-dark-theme);
  @include snack.snackbar-theme($blue-grey-amber-dark-theme);
  @include mat.expansion-color($blue-grey-amber-dark-theme);
  @include mat.progress-bar-color($blue-grey-amber-dark-theme);
  @include mat.select-color($blue-grey-amber-dark-theme);
  @include mat.option-color($blue-grey-amber-dark-theme);
  @include mat.slide-toggle-color($blue-grey-amber-dark-theme);
  @include slide-toggle.slide-toggle-theme($blue-grey-amber-dark-theme);
  @include mat.menu-theme($blue-grey-amber-dark-theme);
}
