@use "../../../styles/variables" as vars;

.mat-card .mat-card-content {
  padding-top: 0.5em;
}

.mat-expansion-panel {
  box-shadow: none;
  border-bottom: 1px solid lightgray;
}

.mat-card-title {
  display: flex;
  align-items: center;

  & > :last-child {
    margin-left: auto;
  }
}

.mat-card-subtitle {
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }

  > * {
    width: 100%;
  }

  @media screen and (min-width: vars.$desktop-width) {
    flex-direction: row;

    > * {
      width: 49%;
    }

    > :last-child {
      margin-left: auto;
    }
  }
}

.mat-expansion-panel-header-description {
  & > :first-child {
    margin-left: auto;
    margin-right: 1em;
  }

  & > :last-child {
    margin-right: 0.5em;
  }
}

.mat-expansion-panel-header {
  margin: 4em 0;

  .mat-expansion-panel-header-title {
    .title-wrapper {
      & > :first-child {
        margin: 0 0 0.2em;
      }

      .meta {
        color: grey;
        line-height: 1.3em;
      }

      .dates {
        & > :first-child {
          margin-right: 1em;
        }
      }

      .is-published {
        display: flex;
        align-items: center;

        & > :first-child {
          margin-right: 1em;
        }
      }
    }
  }
}
