<app-navigation *ngIf="!isUserLoggedInLoading && displayNavigation"></app-navigation>
<router-outlet *ngIf="!isUserLoggedInLoading && !displayNavigation"></router-outlet>
<app-snackbar></app-snackbar>
