@use "../../../styles/variables" as vars;

.login-form-wrapper {
  min-height: 40vh;

  @media screen and (min-width: vars.$desktop-width) {
    min-height: 70vh;
  }
}

.mat-card.login {
  width: 90%;

  @media screen and (min-width: vars.$desktop-width) {
    width: 50%;
  }

  .mat-card-content {
    margin-top: 20px;
  }
}

.login-form {
  width: 100%;
}
