<section class="page-wrapper">
    <mat-card class="page-not-found"
              [attr.color]="'primary'">
        <mat-card-header>
            <mat-card-title>
                <h1>
                    Page not found
                </h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>
                    But you can always go home...
                </h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-stroked-button
                    color="warn"
                    routerLink="/">Go home</button>
        </mat-card-actions>
    </mat-card>

</section>
