@use "sass:map";
@use "sass:color";
@use "@angular/material" as mat;
@use "../mixins";

@mixin sidenav-component-theme($theme) {
  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $foreground: map.get($color-config, foreground);
  $background: map.get($color-config, background);

  .mat-drawer,
  .mat-drawer-content {
    &[color="primary"] {
      @include mixins.change-colors($primary);

      .mat-nav-list {
        .mat-list-item {
          @include mixins.change-contrast-color($primary);
        }
      }
    }

    &[color="accent"] {
      @include mixins.change-colors($accent);

      .mat-nav-list {
        .mat-list-item {
          @include mixins.change-contrast-color($primary);
        }
      }
    }

    &[color="warn"] {
      @include mixins.change-contrast-color($warn);

      .mat-nav-list {
        .mat-list-item {
          @include mixins.change-colors($primary);
        }
      }
    }
  }
}
