@use "sass:map";
@use "sass:color";
@use "@angular/material" as mat;
@use "../mixins";

@mixin slide-toggle-theme($theme) {
  .mat-slide-toggle {
    $color-config: mat.get-color-config($theme);
    $accent: map.get($color-config, accent);

    &.mat-checked {
      .mat-slide-toggle-content {
        @include mixins.change-color($accent);
      }
    }
  }
}
