<div class="snackbar">
    <div *ngFor="let snackbar of snackbars$ | async"
         #item
         [attr.data-id]="snackbar.id"
         class="item"
         [ngClass]="[snackbar.type, snackbar.isShow ? 'shown' : 'hidden']">
        <mat-icon mat-list-icon
                  class="type-icon">{{snackbarTypeToIconMap[snackbar.type]}}</mat-icon>
        <span class="message">{{ snackbar.data?.message }}</span>
        <mat-icon mat-list-icon
                  class="clear-icon"
                  (click)="closeSnackbar(snackbar)">clear</mat-icon>
    </div>
</div>
