<app-category-form [initialFormVariables]="initialFormVariables"
                   (submitForm)="onSubmit($event)">
    <h1>
        Update category
    </h1>
    <button matButton
            mat-icon-button>
        <mat-icon (click)="closeRightDrawer()"
                  aria-label="Side nav toggle icon">
            close
        </mat-icon>
    </button>
</app-category-form>
