@use "@angular/material" as mat;
@use "../../../styles/variables" as vars;
@use "../../../styles/lightTheme" as lt;

.sidenav-container {
  height: 100%;
}

.sidenav {
  max-width: 235px;
}

mat-sidenav.leftSidenav {
  width: 100%;
}

.mat-sidenav-content {
  .mat-toolbar-single-row {
    margin-bottom: vars.$header-margin-bottom;
    justify-content: center;
  }
}

.mat-toolbar {
  >* {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  > :first-child {
    margin-left: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

.toggle-menu {
  margin-right: 1rem;
}
