<app-tag-form (submitForm)="onSubmit($event)">
    <h1>
        Create tag
    </h1>
    <button matButton
            mat-icon-button>
        <mat-icon (click)="closeRightDrawer()"
                  aria-label="Side nav toggle icon">
            close
        </mat-icon>
    </button>
</app-tag-form>
